{% extends "base.html" %}
{% load static %}

{% load catalog_tags %}

{% block content %}

<!--фильтрация товаров-->
<div class="form_filters">
    <form action=""method='get'>
        <input type="checkbox"class="input_filter"id='discount_goods'name='discount'value='discount'{%if request.GET.discount == 'discount' %}checked{%endif%}>
        <label for="discount_goods"class="label_input_filter">Товары по акции</label>
            
        <input type="radio"class="input_filter"id='order_by_goods'name='order_by'value="-price"{%if request.GET.order_by == '-price' %}checked{%endif%}>
        <label for="order_by_goods"class="label_input_filter">От дорогих к дешёвым</label>

        <input type="radio"class="input_filter"id='order_by_goods'name='order_by'value='price'{%if request.GET.order_by == 'price' %}checked{%endif%}>
        <label for="order_by_goods"class="label_input_filter">От дешёвых к дорогим</label>

        <button type='submit'>Применить</button>

    </form>
</div>
<div class="search">
    <!--Search-->
    <form action=""role="search"method='get'>
        <input type="search"id="search_product"name='q'>
        <button type="submit">Search</button>
    </form>
</div>

<div class="products">
    <h2>{{categ.name}}</h2>
    <div class="products_catalog">
        {% for p in goods %}
            <div class="products_cart">
                <a href="{% url 'goods:product' prod_slug=p.slug %}">{{p.name}}</a>
                
                {% if p.image %}
                    <p><img src="{{p.image.url}}"alt='#'></p>
                {% else %}
                    <p><img src="{% static '/main/image/default.png' %}" alt=""></p>
                {% endif %}
                <p>{{p.description}}</p>
                <p>{{p.price}}</p>
                <p>{{p.discount}}%</p>
                <p>{{p.quantity}}шт</p>
            </div>
        {% endfor %}
    </div>
</div>


<div class="pagination">
    <span class="step-links">
        {% if goods.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ goods.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            
            {% for pag in goods.paginator.page_range %}
                {%comment%}<a href="?page={{p}}">{{p}}</a>{%endcomment%}
                <a href="?{% search_goods page=pag%}">{{pag}}</a>
            {%endfor%}
        </span>

        {% if goods.has_next %}
            <a href="?page={{ goods.next_page_number }}">next</a>
            <a href="?ppage={{goods.paginator.num_pages}}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<p>{{request.GET.dict}}</p>

{% endblock content %}