{% extends "base.html" %}
{% load static %}

{% block content %}

    <form action=""method="post">
        {% csrf_token %}

        <input type="text"id='login'name='username'value='login'>
        <label for="login">Login</label>

        <input type="password"id="pass1"name='password1'value="password-1">
        <label for="pass1">Password</label>

        <input type="password"id="pass2"name='password2'value="password-2">
        <label for="pass2">Doble Password</label>

        <button type="submit">Зарегистрироваться</button>
    </form>

{% endblock content %}