{% load static %}
{% load catalog_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './main/css/styles.css' %}">
</head>
<body>
    <div class="header">
        <div class='heading'>
            <h1>Eshop</h1>
        </div>
        <div class="menu">
            <ul>
                <li class='modal_catalog2'><a href="{% url 'main:index' %}"class='menu_a'>Главная</a></li>
                <li class='modal_catalog2'><a href="{% url 'main:about' %}"class='menu_a'>О нас</a></li>
                <li class='modal_catalog2'><a href="{% url "users:users_cart" %}"class='menu_a'>Корзина</a></li>
<!--<li><a href="#"class='menu_a'>Каталог</a></li>-->
                <li class="modal_catalog"id='mod_cat'>
                    <p onclick='mod()'id='but1'class='menu_b'>Каталог</p>
                    <p onclick='mod2()'id='but2'class='menu_b'>Каталог</p>
                    <div class='m_cat'id='m_cat'style='display:none;'>
                        {% tag_catalog as tcat %}
                        {% for cat_tag in tcat %}
                            <p><a href="{% url "goods:catalog" slug_cat=cat_tag.slug %}">{{cat_tag.name}}</a></p>
                        {% endfor %}
                    </div>
                </li>

                

                {% if not request.user.is_authenticated %}
                    <li id="lk"><a href="{% url "users:login_user" %}">Войти</a></li>
                {% else %}
                    <li id="lk"><a href="{% url "users:profile" %}">Личный кабинет</a> | <a href="{% url "users:logout_user" %}">Выйти</a></li>
                {% endif %}
            </ul>
        </div>
        {% block header %}
        {% endblock %}
    </div>
    <div class="sidebar">


        {% if request.user.is_staff and request.path == '/profile/' %}
            <a href="{% url 'admin:index' %}"target="_blank"style="margin-left:50px;">Admin</a>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
        {% block footer %}
        {% endblock %}
    </div>

    <!--Модальнле окно Каталог-->
    {% comment %} <script>
        //document.getElementById('m_cat').onclick='mod';
        document.getElementById('but2').style.display='none';
        
        function mod() {
            document.getElementById('m_cat').style.display="block";
            document.getElementById('but2').style.display='block';
            document.getElementById('but1').style.display='none';
        }

        function mod2(){
            document.getElementById('m_cat').style.display="none";
            document.getElementById('but2').style.display='none';
            document.getElementById('but1').style.display='block';
        }
    </script> {% endcomment %}
    <script src="{% static './main/js/modal_catalog.js' %}"></script>
</body>
</html>