* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/static/main/image/img/eshop.jpg");
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: 100%;
    background-attachment: fixed
}

.header {
    width: 100%;
    height: 200px;
    /*background-color: aqua;*/
    position: relative;
    /*text-align: center;*/
    /*border-bottom: 1px solid black;*/
}
.heading {
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}
.menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*text-align: center;*/
    /*background-color: rgba(255, 255, 255, 0.5);*/
}
.menu a {
    text-decoration: none;
    color:black;
}


li {
    float:left;
    list-style-type: none;
    /*margin-right: 20px;*/
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 1.0);
    padding: 2px 15px;
    border-radius: 10px;
}
#lk {
    float:right;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    /*padding: 2px 15px;*/
    margin-right: 50px;
}

.sidebar {
    width: 100%;
    height: 800px;
    /*background-color: rgb(209, 248, 248);*/
}


.footer {
    width: 100%;
    height: 100px;
    background-color: black;
}