* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 200px;
    background-color: aqua;
    position: relative;
    /*text-align: center;*/
}
.menu {
    position: absolute;
    bottom: 0;
    width: 90%;
    /*text-align: center;*/
}

li {
    float:left;
    list-style-type: none;
    margin-right: 20px;
}
#lk {
    float:right;
}

.sidebar {
    width: 100%;
    height: 1200px;
    background-color: rgb(209, 248, 248);
}

.footer {
    width: 100%;
    height: 200px;
    background-color: aqua;
}