* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/static/main/image/img/eshop.jpg");
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: 100%;
    background-attachment: fixed
}

.header {
    width: 100%;
    /*height: 200px;*/
    /*background-color: aqua;*/
    position: relative;
    /*text-align: center;*/
    /*border-bottom: 1px solid black;*/
}
.heading {
    width: 100%;
    /*height: 50px;*/
    text-align: center;
    padding-top: 20px;
    font-size: 90px;
    margin-bottom: 50px;
}
.menu {
    position: absolute;
    /*bottom: 80px;*/
    width: 100%;
    /*text-align: center;*/
    /*background-color: rgba(255, 255, 255, 0.5);*/
    
}
.menu a {
    text-decoration: none;
    color:black;
}
.menu_b:hover {
    cursor: pointer;
}
.m_cat a:hover {
    color: rgb(38, 8, 206);
}
#but1 {
    /*background-color: rgba(255, 255, 255, 1.0);*/
    background-color: rgb(57, 57, 57);
    padding: 2px 15px;
    color: #fff;
    /*border-radius: 10px;*/
} 
#but2 {
    background-color: rgb(57, 57, 57);
    padding: 2px 15px;
    color: #fff;
} 

li {
    float:left;
    list-style-type: none;
}
.modal_catalog {
    margin-left: 50px;
    background-color: #fff;
    /*border-radius: 10px;*/
}
.modal_catalog2 {
    /*margin-right: 20px;*/
    margin-left: 50px;
    background-color: rgba(255, 255, 255, 1.0);
    padding: 2px 15px;
    border-radius: 10px;
}
.m_cat {
    padding: 5px;
}
#lk {
    float:right;
    background-color: rgba(255, 255, 255, 1.0);
    padding: 2px 15px;
    border-radius: 10px;
    margin-right: 50px;
}

.sidebar {
    width: 100%;
    height: 800px;
    /*background-color: rgb(209, 248, 248);*/
    padding-top: 50px;
}
.form_filters {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    /*background-color: rgb(0,0,0);*/
    color: #fff;
    position: relative;
}
.label_input_filter {
    background-color: rgb(188, 233, 25);
    margin-left: 30px;
    margin-right: 30px;
}
.input_filter {
    position: absolute;
    width: 20px;
    height: 20px;
    /*background-color: rgba(255, 255, 255, 1.0);*/
    bottom: 0;
}
/*форма поиска*/
.search {
    margin-bottom: 50px;
    margin-left: 50px;
}

.products {
    margin-bottom: 50px;
}
.products h2{
    text-align: center;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 1.0);
}
.products_catalog {
    display: flex;
    justify-content: space-around;
}

.products_cart {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1.0);
}


.pagination {
    background-color: rgba(255, 255, 255, 1.0);
    text-align: center;
}


.footer {
    width: 100%;
    height: 100px;
    background-color: black;
}